
.row {
  background: rgba(221, 221, 221, 0.5);
  padding: 10px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;


  button {
      margin-left: 10px;
  }


  &__name {
     font-size: 1rem;
     margin: 0;
     line-height: 1.5;
     width: 100px;
  }
  &__data {
     margin-right: auto;
  }

}


@media (max-width: 767.98px) {
   .row {
     flex-direction: column;

     button {
        margin: 0 0 15px 0;
   }

     &__name {
      width: 100%;
      text-align: center;
      padding: 10px 0;
     }

     &__data {
         margin-right: auto;
         margin-left: auto;
         padding: 10px 0;
      }
   }
 }